DJANGO_SECRET_KEY="django-insecure--_tb3@if@&z6sd54u4bwqd&$o(i)1)8j&g2n(=4_+uv-(hks_2"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=shop
POSTGRES_USER=shop
POSTGRES_PASSWORD=shop_password
POSTGRES_HOST=db
POSTGRES_PORT=5432